body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif; }
  body a {
    color: #768FD4; }
  body ul {
    list-style-type: none; }
    body ul .checked span {
      text-decoration: line-through; }
